*{margin: 0px; padding: 0px;}
main,header,section,nav,footer,p,button {display: block;}
#wrapper {margin: 0px auto;
    width: 1000px;
    background: #3b5998;
    color: white;}

img{width: 200px;
height: 200px;}
h1,h2,h3,h4{
    color: #ffffff;
    font-size: 180%;
}
section{
    color: #ffffff;
    font-size: 150%;
}